* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,249,255,1) 11.1%, rgba(255,241,255,1) 90% );
}

header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}


main{
}

h1 {
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    color: black;
    margin:0;
    padding: 0;
}

.welcomebackground{
    border-radius: 10px;
    z-index: 2;
}

.welcome{
    padding-top: 30px;
    font-size: 3em;
}

.titledegree{
    margin-bottom: 30px;
    font-size: 6rem;
}

#logo{
    width: 150px;
    z-index: 1;
    opacity: 0.7;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 53vh;
}

.introduction{
    padding: 30px;
    font-size: 1.5em;
    width: 75%;
    margin-top: 20px;
}

#start-here{
    font-size: 2em;
    margin-top:20px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: bold;
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
    transition: 1.0s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#start-here:hover{
    background-image: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgb(255, 119, 194, 1) 0%, rgba(255, 119, 194, 1) 15.9%, rgb(250, 199, 233, 1) 15.9%, rgba(250, 199, 233, 1) 24.4%, rgb(255, 255, 255) 24.5%, rgb(255, 255, 255) 66% );
    color: rgb(65, 65, 65);
}

footer{
    text-align: center;
}
@media only screen and (max-width: 786px){

header{
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #CCE0F4 0%, #1E9CD7 48%, #005B97 100%);
}

main{
    height: 525px;
}

.welcome{
    font-size: 2.5em;
}

.titledegree{
    font-size: 5rem;
}

.introduction{
    padding: 20px;
    font-size: 1.3em;
    }

}

@media only screen and (max-width: 400px){
    
    #logo{
        width: 100px;
    }

    main{
        height: 610px;
    }

    .welcome{
        font-size: 2em;
    }
    
    .titledegree{
        font-size: 4rem;
    }

    .introduction{
        padding: 10px;
        font-size: 1.3em;
        }
    
    }